
.wrap {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.1%;
    padding: 0.5%;
    height: 10vh;
    width: 100%;
    background-color: #685F68;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);


}
.picture-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}
.picture-container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.description-container {
    margin: 0.5%;
}