.element {
    width: 1200px;
    height: 100%;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
.element h1 {
    font-size: 120px;
    margin-left: 7%;
    font-family: "Times New Roman", Times, serif;
}
.element p {
    margin-left: 7%;
}
@media(max-width: 1200px) {
    .element h1 {
        font-size: 60px;
    }
}